@{
    ViewData["Title"] = "Home Page";
}

<div id="VerseDisplay" class="row"></div>

<div class="input-group">
    <input id="VerseTextBox" type="text" class="form-control">
    <span class="input-group-btn">
        <button id="SubmitButton" class="btn btn-info" type="button">Submit</button>
    </span>
</div>