@{
    ViewData["Title"] = "Home Page";
}

@*<div class="row">
    <div id="VerseDisplay" class="col-md-8"></div>
    <div class="col-md-4">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Choose a book
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            </ul>
        </div>
    </div>
</div>

<div class="input-group">
    <input id="VerseTextBox" type="text" class="form-control">
    <span class="input-group-btn">
        <button id="SubmitButton" class="btn btn-info" type="button">Submit</button>
    </span>
</div>*@

<div id="Board">
    <div class="card">
        <div class="front">
            Front content 1
        </div>
        <div class="back">
            Back content 1
        </div>
    </div>
    <div class="card">
        <div class="front">
            Front content 2
        </div>
        <div class="back">
            Back content 2
        </div>
    </div>
    <div class="card">
        <div class="front">
            Front content 3
        </div>
        <div class="back">
            Back content 3
        </div>
    </div>
</div>