body {
    background-color: honeydew;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Roboto;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 750px;
}

#Title {
    font-family: Great Vibes;
    font-size: 3em;
    color: greenyellow;
}

#Subtitle {
    margin: -8px 0 0 0;
    font-weight: 700;
    font-size: 1.2em;
    color: limegreen;
    letter-spacing: 4.5px;
}

.mdl-textfield {
    width: calc(50% - 65px);
    margin-right: 10px;
}
.mdl-textfield__input:hover {
    cursor: pointer;
}

.mdl-button {
    color: #fff !important;
    font-weight: 300;
    border-radius: 2em;
    letter-spacing: 4px;
}

h2 {
    font-size: 1.8em;
    margin: 10px 0;
}

#Passage p {
    margin: 0;
}

    #Passage p:last-child {
        text-align: right;
        color: #898;
    }

a {
    color: #898;
}

#TextBoxContainer {
    width: calc(100% - 120px);
}

.mdl-data-table {
    white-space: normal;
}

td {
    word-wrap: break-word;
}


